.ui.table {
  table-layout: fixed;
}

.table .header {
  font-weight: 200;
}

.table .mobile-only {
  color: rgba(0,0,0,.87);
}

.table .stage {
  width: 100px;
}

.table .deploy {
  width: 140px;
}

.ui.table td {
  padding: .71428571em 0;
}

.ui.table .app {
  padding: .71428571em;
}

.dataTables_filter {
  display: none;
}

.ui.label, .ui.button {
  transition: none;
}

.ui.label {
  max-width: 60px;
  overflow: hidden;
}

.ui.label.failed {
  background: #ebb;
}

.ui.deploy.button {
  background: #fff !important;
}

.ui.basic.deploy.button:hover, .ui.basic.deploy.button:focus {
  box-shadow: 0 0 10px #00b5ad !important;
  background: #fff !important;
}

.table .ui.button.teal:hover, .table .ui.button.teal:focus {
  background: #00b5ad;
}

.table .deploying .app .header {
  font-weight: 500;
  letter-spacing: -1px;
  color: #00b5ad;
  margin-left: 3px;
}

.table .deployed {
  color: rgba(0,0,0,0.2);
}