@import 'utils.css';
@import 'login-form.css';
@import 'apps-table.css';

html, body, .container {
  height: 100%;
}

body {
  border-top: solid 10px #1b1c1d;
}

body > .ui.container {
  margin-top: 3em;
}

.search.form {
  width: 300px;
}

.secondary.menu {
  margin-bottom: 3em;
  font-size: 1.5em;
}

.secondary.menu .right.menu {
  font-size: 0.8em;
}