@import 'utils.css';
@import 'login-form.css';
@import 'apps-table.css';
@import 'search-form.css';
@import 'menu.css';

html, body, .container {
  height: 100%;
}

body {
  border-top: solid 10px #1b1c1d;
}

body > .ui.container {
  margin-top: 3em;
}

a {
  color: #00b5ad;
}