{% extends "base.html" %}

{% block body %}

<div class="ui secondary pointing menu">
  <span class="active item">
    Wristband
  </span>
  <div class="right menu">
    <span class="ui item">
      <span class="large-only">{{ username }}&nbsp;</span>(<a href="logout">logout</a>)
    </span>
  </div>
</div>

<form class="search ui form js-show">
  <div class="field">
    <div class="ui left icon input huge">
      <i class="search icon"></i>
      <input type="text" placeholder="Search...">
    </div>
  </div>
  <div class="ui submit button hidden">Submit</div>
</form>

<table class="ui center aligned striped table">
  <thead class="large-only">
    <tr>
      <th class="app left aligned">App</th>
      <th class="stage">QA</th>
      <th class="deploy"></th>
      <th class="stage">Staging</th>
    </tr>
  </thead>
  <tbody>
    {% for app in apps %}
      <tr>
        <td class="app left aligned">
          <h2 class="ui header">{{ app.name }}</h2>
        </td>
        <td class="stage">
          <span class="mobile-only">QA </span><span class="ui label large">{{ app.stages.qa.version }}</span>
        </td>
        <td class="deploy">
          <form action="/deploy" method="post">
            <input type="hidden" name="app" value="{{ app.name }}">
            <input type="hidden" name="version" value="{{ app.stages.qa.version }}">
            <input type="hidden" name="stage" value="staging">
            <button class="ui basic teal right labeled icon button">
              <i class="right arrow icon large-only"></i>
              <i class="down arrow icon mobile-only"></i>
              <span class="text">Deploy</span>
            </button>
          </form>
        </td>
        <td class="stage">
          <span class="mobile-only">Staging </span><span class="ui label large">{{ app.stages.staging.version }}</span>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
