{% extends "base.html" %}

{% block page %}deploy{% endblock %}

{% block head %}

<noscript>
  <!-- edgecase: when JS is disabled we want to provide some level of refresh -->
  <meta http-equiv="refresh" content="10">
</noscript>

{% endblock %}

{% block body %}

<div class="ui secondary pointing menu">
  <span class="active item">
    Wristband
  </span>
  <div class="right menu">
    <span class="ui item">
      <strong class="large-only">{{ username }}&nbsp;</strong>(<a href="logout">logout</a>)
    </span>
  </div>
</div>

<form class="search ui form js-show">
  <div class="field">
    <div class="ui icon input huge">
      <input type="text" placeholder="Search...">
      <i class="search icon teal"></i>
    </div>
  </div>
  <div class="ui submit button hidden">Submit</div>
</form>

<div id="app-table">
<table class="ui center aligned striped table">
  <thead class="large-only">
    <tr>
      <th width="50%" class="app left aligned">App</th>
      {% for stage in stages %}
        <th class="stage">{{ stage.name }}</th>
        {% if not loop.last %}
          <th class="deploy"></th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for app in apps %}
      <tr class="{% if "jobid" in app.stages.staging %}deploying{% endif %}">
        <td class="app left aligned">
          <h2 class="ui header">
            {{ app.name }}
          </h2>
        </td>

        {% for stage in stages %}

          {% set current_stage = stage %}
          {% set current_stage_app = app.stages[current_stage.name] %}
          {% set next_stage = stages[loop.index] %}
          <td class="stage">
            {% if current_stage.name in app.stages %}
              <span class="mobile-only">{{ current_stage.name }} </span>
              <span class="ui label large {{ "green" if current_stage_app.state == "healthy" else "blue" if current_stage_app.state == "deployment_requested" else "red" }}"><a href="{{ current_stage_app.log_url }}">{{ current_stage_app.version }}</a></span>
            {% endif %}
          </td>

          {% if not loop.last %}
            <td class="deploy">
              {% if current_stage.name in app.stages %}
                {% if
                    (next_stage.name not in app.stages) or
                    (app.stages[next_stage.name].state != "healthy") or
                    (next_stage.name in app.stages and (current_stage_app.version != app.stages[next_stage.name].version)) %}

                  <form action="/deploy" method="post"{% if next_stage.name in app.stages and app.stages[next_stage.name].state in [ "healthy", "deployment_requested" ] and app.stages[next_stage.name].version == current_stage_app.version %} style="display: none;"{% endif %}>
                    <input type="hidden" name="app" value="{{ app.name }}">
                    <input type="hidden" name="version" value="{{ current_stage_app.version }}">
                    <input type="hidden" name="stage" value="{{ next_stage.name }}">
                    <button class="ui basic teal right labeled icon button">
                      <i class="right arrow icon large-only"></i>
                      <i class="down arrow icon mobile-only"></i>
                      <span class="text">Deploy</span>
                    </button>
                  </form>

                  <div class="ui buttons"{% if next_stage.name not in app.stages or app.stages[next_stage.name].state != "deployment_requested" %} style="display: none;"{% endif %}>
                    <button class="ui teal right icon button" tabindex="-1">
                      <span class="text">{{ current_stage_app.version }} <i class="right arrow icon large-only"></i><i class="down arrow icon mobile-only"></i></span>
                    </button>
                    <button class="ui button loading teal" tabindex="-1"></button>
                  </div>

                {% else %}

                  <button class="ui button basic disabled" disabled="disabled">Deployed</button>

                {% endif %}

              {% endif %}
            </td>
          {% endif %}

        {% endfor %}

      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
