{% extends "base.html" %}

{% block page %}deploy{% endblock %}

{% block head %}

<noscript>
  <!-- edgecase: when JS is disabled we want to provide some level of refresh -->
  <meta http-equiv="refresh" content="10">
</noscript>

{% endblock %}

{% block body %}

<div class="ui secondary pointing menu">
  <span class="active item">
    Wristband
  </span>
  <div class="right menu">
    <div class="ui item">
      <strong class="large-only">{{ username }}&nbsp;</strong>(<a href="logout">logout</a>)

      <div class="ui icon top right pointing dropdown button basic">
        <i class="alarm outline icon"></i>
        <span class="floating ui red label" style="display: none;"></span>

        <div class="menu notifications">
          <div class="header">Notifications</div>
          <div class="ui feed"></div>
        </div>
      </div>

    </div>
  </div>
</div>

<form class="search ui form js-show">
  <div class="field">
    <div class="ui icon input huge">
      <input type="text" placeholder="Search...">
      <i class="search icon teal"></i>
    </div>
  </div>
  <div class="ui submit button hidden">Submit</div>
</form>

<div id="app-table">
<table class="ui center aligned striped table">
  <thead class="large-only">
    <tr>
      <th width="50%" class="app left aligned">App</th>
      {% for stage in stages %}
        <th class="stage">{{ stage.name }}</th>
        {% if not loop.last %}
          <th class="deploy"></th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for app in apps %}
      <tr id="{{ app.name }}" class="{% if "jobid" in app.stages.staging %}deploying{% endif %}">
        <td class="app left aligned">
          <h2 class="ui header">
            {{ app.name }}
          </h2>
        </td>

        {% for stage in stages %}

          <td class="stage">
            {% if stage.name in app.stages %}
              <span class="mobile-only">{{ stage.name }} </span>
              <span title="{{ app.stages[stage.name].version }}" class="ui label large {{ app.stages[stage.name].status }}">{{ app.stages[stage.name].version }}</span>
            {% endif %}
          </td>

          {% if not loop.last %}
            <td class="deploy">
              {% if stage.name in app.stages %}

                {% if app.stages[stages[loop.index].name].status == "requested" %}

                  <div id="{{ app.name }}-{{ stage.name }}-requested" class="ui icon top right pointing dropdown button basic requested">
                    Requested
                    <div class="menu steps">
                      <div class="header">Production deployment</div>
                      <div class="ui feed">
                        <div class="event">
                          <div class="label">1.</div>
                          <div class="content">
                            <div class="summary"><strong>john.norris</strong> requested a production deployment of <strong>{{ app.name }}</strong> for <strong>25/09/2015 13:00</strong><div class="date">1 Hour Ago</div></div>
                          </div>
                        </div>
                        <div class="event">
                          <div class="label">2.</div>
                          <div class="content">
                            <div class="summary">Awaiting PO approval - <a class="approve">Approve</a></div>
                          </div>
                        </div>
                        <div class="event">
                          <div class="label">3.</div>
                          <div class="content">
                            <div class="summary">Awaiting WebOps approval</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                {% elif
                    (stages[loop.index].name not in app.stages) or
                    (app.stages[stages[loop.index].name].status == "failed") or
                    (stages[loop.index].name in app.stages and (app.stages[stage.name].version != app.stages[stages[loop.index].name].version)) %}

                  <form action="/deploy" method="post"{% if "jobid" in app.stages[stages[loop.index].name] %} style="display: none;"{% endif %}>
                    <input type="hidden" name="app" value="{{ app.name }}">
                    <input type="hidden" name="version" value="{{ app.stages[stage.name].version }}">
                    <input type="hidden" name="stage" value="{{ stages[loop.index].name }}">
                    <button class="ui basic teal right labeled icon button deploy">
                      <i class="right arrow icon large-only"></i>
                      <i class="down arrow icon mobile-only"></i>
                      <span class="text">Deploy</span>
                    </button>
                  </form>

                  <div class="ui buttons"{% if "jobid" not in app.stages[stages[loop.index].name] %} style="display: none;"{% endif %}>
                    <button class="ui teal right icon button" tabindex="-1">
                      <span class="text">{{ app.stages[stage.name].version }} <i class="right arrow icon large-only"></i><i class="down arrow icon mobile-only"></i></span>
                    </button>
                    <button class="ui button loading teal" tabindex="-1"></button>
                  </div>

                {% else %}

                  <i class="checkmark icon deployed"></i>

                {% endif %}

              {% endif %}
            </td>
          {% endif %}

        {% endfor %}

      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
