{% extends "base.html" %}

{% block body %}

<form action="/login" method="post" class="ui login form vertical-align{% if error == 'bad_login' %} error{% endif %}">
    <div class="ui secondary pointing menu">
      <span class="active item">
        Wristband
      </span>
    </div>

    <div class="ui error message">
      <p>{{ error_message or "An errorr occured logging in to the API" }}</p>
    </div>

    <div class="three fields">

      <div class="field">
        <div class="ui input huge">
          <input type="text" name="username" placeholder="Username">
        </div>
      </div>

      <div class="field">
        <div class="ui input huge">
          <input type="password" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
        </div>
      </div>

      <button type="submit" class="ui big teal button">Login</button>

    </div>
</form>

{% endblock %}
